In [35]:
import pandas as pd
from gurobipy import Model, GRB

In [36]:
players_df = pd.read_csv('https://raw.githubusercontent.com/mredshaw/MODELS-APP/main/Assignment%202/BasketballPlayers.csv')

players_df.head()

,Number,Position,Ball Handling,Shooting,Rebounding,Defense,Athletic Ability,Toughness,Mental Acuity
0,1,G/F,1,2,3,2,1,2,1
1,2,G/F,1,1,1,2,3,2,3
2,3,G/F,3,1,1,2,3,2,1
3,4,G/F,2,3,2,2,2,1,1
4,5,F/C,1,2,3,3,3,3,2

In [37]:
players_df['Average'] = players_df.iloc[:, 2:].mean(axis=1)

players_df.head()

,Number,Position,Ball Handling,Shooting,Rebounding,Defense,Athletic Ability,Toughness,Mental Acuity,Average
0,1,G/F,1,2,3,2,1,2,1,1.714286
1,2,G/F,1,1,1,2,3,2,3,1.857143
2,3,G/F,3,1,1,2,3,2,1,1.857143
3,4,G/F,2,3,2,2,2,1,1,1.857143
4,5,F/C,1,2,3,3,3,3,2,2.428571

In [38]:
# Filter players with average skill above 2.05 (without resetting the index)
filtered_players_df = players_df[players_df['Average'] > 2.05]

filtered_players_df.head()

,Number,Position,Ball Handling,Shooting,Rebounding,Defense,Athletic Ability,Toughness,Mental Acuity,Average
4,5,F/C,1,2,3,3,3,3,2,2.428571
5,6,G,1,1,3,3,2,3,3,2.285714
6,7,F/C,3,3,2,2,3,2,2,2.428571
9,10,G/F,3,1,2,2,3,1,3,2.142857
10,11,F,3,2,1,3,2,3,2,2.285714

In [39]:
print(filtered_players_df.index)

Index([  4,   5,   6,   9,  10,  11,  14,  15,  18,  19,  21,  22,  25,  27,
        33,  36,  39,  40,  46,  48,  52,  53,  55,  58,  59,  63,  66,  67,
        69,  73,  75,  79,  84,  85,  86,  87,  88,  89,  94,  96,  98, 101,
       103, 104, 107, 108, 109, 110, 115, 117, 127, 130, 131, 132, 133, 136,
       137, 138, 140, 142, 143, 145, 146, 147, 149],
      dtype='int64')

In [40]:
filtered_players_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 4 to 149
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            65 non-null     int64
 1   Position          65 non-null     object
 2   Ball Handling     65 non-null     int64
 3   Shooting          65 non-null     int64
 4   Rebounding        65 non-null     int64
 5   Defense           65 non-null     int64
 6   Athletic Ability  65 non-null     int64
 7   Toughness         65 non-null     int64
 8   Mental Acuity     65 non-null     int64
 9   Average           65 non-null     float64
dtypes: float64(1), int64(8), object(1)
memory usage: 5.6+ KB