In [1]:
import pandas as pd
from gurobipy import Model, GRB

In [5]:
players_df = pd.read_csv('https://raw.githubusercontent.com/mredshaw/MODELS-APP/main/Assignment%202/BasketballPlayers.csv')

players_df['Average'] = players_df.iloc[:, 2:].mean(axis=1)

# Filter players with average skill above 2.05 (without resetting the index)
filtered_players_df = players_df[players_df['Average'] > 2.05]

filtered_players_df.head()

,Number,Position,Ball Handling,Shooting,Rebounding,Defense,Athletic Ability,Toughness,Mental Acuity,Average
4,5,F/C,1,2,3,3,3,3,2,2.428571
5,6,G,1,1,3,3,2,3,3,2.285714
6,7,F/C,3,3,2,2,3,2,2,2.428571
9,10,G/F,3,1,2,2,3,1,3,2.142857
10,11,F,3,2,1,3,2,3,2,2.285714

In [4]:
players_df.head()

,Number,Position,Ball Handling,Shooting,Rebounding,Defense,Athletic Ability,Toughness,Mental Acuity,Average
4,5,F/C,1,2,3,3,3,3,2,2.428571
5,6,G,1,1,3,3,2,3,3,2.285714
6,7,F/C,3,3,2,2,3,2,2,2.428571
9,10,G/F,3,1,2,2,3,1,3,2.142857
10,11,F,3,2,1,3,2,3,2,2.285714